html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
  background-color: red;
  background-image: linear-gradient(135deg, rgb(0 0 0 / 0) 0%, rgb(0 0 0 / 0.2) 30%);
  color: #FFFFFF;
  width: 200px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-size: 1.1rem; /* Computed By .... */
  padding-top: 80px ;
  border: 1px solid #900000;
  border-radius: 10px;
  text-shadow: 1px 1px 3px black;
  box-shadow: 5px 5px 5px #666, inset 0.2em 0.2em rgba(255,255,255,0.6), inset -0.2em -0.2em rgba(0,0,0,0.6);
}